@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 100vw !important;
    background-image: url('../../assets/background-main.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 85%;
    height: 100vw !important;
    display: flex;
    flex-direction: column;
    background: rgba(51, 153, 157, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}

.main-container-content {
    padding: 8em;
    height: 42em;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
}

.main-container-content h1 {
    color: white;
    font-family: 'Jost';
    font-size: 4em;
}

.main-container-content p {
    color: white;
    font-family: 'K2D';
}

.more-btn {
    width: 10em;
    height: 4em;
    font-family: 'K2D';
    font-weight: bold;
    color: #021A22;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.baleia {
    width: 45em;
    position: absolute;
    right: 100px;
    bottom: 18rem;
}

.raia {
    width: 15em;
    position: absolute;
    bottom: 18rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .main-container {
        width: 100%;
        padding: 1rem;
    }

    .main-container-content {
        padding: 2rem;
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;
        height: 28rem!important;
    }

    .main-container-content h1 {
        font-size: 2em; /* Tamanho menor para o título */
    }

    .main-container-content p {
        font-size: 0.9em; /* Texto mais pequeno para fácil leitura */
    }

    .baleia {
        width: 50%; /* Ajustar largura das imagens para caber na tela */
        display: flex;
        justify-content: center;
        bottom: -16rem;
        right: 2rem;
    }
    .raia {
        width: 30%; /* Ajustar largura das imagens para caber na tela */
        display: flex;
        justify-content: center;
        bottom: -16rem;
        left: -2rem;
    }

    .more-btn {
        width: 100%; /* Botão ocupa a largura total */
        padding: 0.8em;
        bottom: 1px;
    }
}
